%main.CV-page
  %h1.CV-primaryHeading
    %span.CV-primaryHeading-name Piotr Kędzia
    %small.CV-primaryHeading-position
      Problem solver and
      %span.CV-u-nowrap Back-end
      Adept
  .CV-details
    %a.CV-detail.CV-detail--twitter{:href => "mailto:ptrkedzia@gmail.com"}
      .CV-detail-key
        Gmail
      .CV-detail-val
        ptrkedzia@gmail.com
    %a.CV-detail.CV-detail--website{:href => "https://github.com/piotrkedzia"}
      .CV-detail-key
        Github
      .CV-detail-val
        www.github.com/piotrkedzia
    %a.CV-detail.CV-detail--experiments{:href => "http://www.goldenline.pl/piotr-kedzia4/"}
      .CV-detail-key
        GoldenLine
      .CV-detail-val
        goldenline.pl/piotr-kedzia4
  %p.CV-introBlurb
    I am strongly motivated person with need of fresh challenge. For months I am building foundations for the web development. I'm fan of IT technology software as well as hardware. I like to study from others but also  have a great need of giving. Self and Web development inspiring me every day.
  %hr/
  .CV-grid
    .CV-grid-column.CV-grid-column--left
      .CV-jobs
        %h2.CV-secondaryHeading.CV-jobs-heading
          Employment history
        %section.CV-timeline.CV-job
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title> Production Planner
            %span.CV-timeline-heading-location Aesculap Chifa
            %small.CV-timeline-heading-duration 2006 to current
          %ul.CV-timeline-details
            %li.CV-timeline-details-item
              Coordination and managment of production flow
            %li.CV-timeline-details-item
              Implementation of new improvements (software solutions)
            %li.CV-timeline-details-item
              Database managment - SQL Server
            %li.CV-timeline-details-item
              Project leader
            %li.CV-timeline-details-item
              Creator of many WinForms applications
        %section.CV-timeline.CV-job
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title> CNC programmer and operator
            %span.CV-timeline-heading-location Swedwood Poland Sp.z o.o
            %small.CV-timeline-heading-duration 2005
          %ul.CV-timeline-details
            %li.CV-timeline-details-item
              Participant of production line design team
            %li.CV-timeline-details-item
              Operator of CNC robot mashine
            %li.CV-timeline-details-item
              Involvement with improvement process
        %section.CV-timeline.CV-job
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title> Warehouse logistics
            %span.CV-timeline-heading-location Majex Trading company
            %small.CV-timeline-heading-duration 2004
        %section.CV-timeline.CV-job
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title> Seller
            %span.CV-timeline-heading-location Install-Bud
            %small.CV-timeline-heading-duration 2003
      .CV-education
        %h2.CV-secondaryHeading.CV-education-heading
          Education history
        %section.CV-timeline.CV-education-group
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title Postgraduate Diploma specialization Lean Six Sigma
            %span.CV-timeline-heading-location Poznan Technical University
            %small.CV-timeline-heading-duration 2013
        %section.CV-timeline.CV-education-group
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title Engineering Studies - spec. Computer Engineering
            %span.CV-timeline-heading-location University of Zielona Gora
            %small.CV-timeline-heading-duration Completed 2005
        %section.CV-timeline.CV-education-group
          %h3.CV-timeline-heading
            %span.CV-timeline-heading-title Professional training
          %ul.CV-timeline-details
            %li.CV-timeline-details-item
              2015: Github Pull Request Flow - Agile Ventures
            %li.CV-timeline-details-item
              2014: NETGURU 2 days Workshops
            %li.CV-timeline-details-item
              2013: SQL Server Integrations Services - Programming course
            %li.CV-timeline-details-item
              2008: MS Access Datbase Management - Altkom
            %li.CV-timeline-details-item
              2007: Pro VBA Programming - Altkom
            %li.CV-timeline-details-item
              2006: Change Management - Wielkopolska Business School
    .CV-grid-column.CV-grid-column--right
      .CV-skills
        %section.CV-skill-group
          %h3.CV-skills-group-heading
            Languages & Tools
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name
                RoR
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "2.5"} 2.5/5
            .CV-skill
              .CV-skill-name
                Ruby
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "2"} 2/5
            .CV-skill
              .CV-skill-name
                HTML
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "2"} 2/5
            .CV-skill
              .CV-skill-name
                CSS
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "1.5"} 1.5/5
            .CV-skill
              .CV-skill-name
                JavaScript
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "0.5"} 0.5/5
            .CV-skill
              .CV-skill-name
                jQuery
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "1.5"} 1.5/5
            .CV-skill
              .CV-skill-name
                Git/bash
              .CV-skill-value{:colspan => "5"}
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "3"} 3/5

        %section.CV-skill-group
          %h3.CV-skills-group-heading
            Other skills
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name
                Command of English
              .CV-skill-value
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "4"} 4/5
            .CV-skill
              .CV-skill-name
                Self-learning
              .CV-skill-value
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "4.5"} 4.5/5
            .CV-skill
              .CV-skill-name
                Pancakes maker :)
              .CV-skill-value
                %meter.CV-skill-rating{:max => "5", :min => "0", :value => "3"} 3/5
        %section.CV-skill-group
          %h3.CV-skills-group-heading
            Favorite apps/sites
          .CV-skills-group-list
            %span.label.label-primary VIM
            %span.label.label-primary TRELLO
            %span.label.label-primary SLACK
            %span.label.label-primary GOOGLE APPS
            %span.label.label-primary TED.TV
            %span.label.label-primary ANKI
            %span.label.label-primary PIVOTAL TRACKER
